<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <title>KapacitorAlertProxy/{{ title }}</title>
</head>

<body style="background-color: #0d0d0d">
    <div class="container" style="margin-top: 10px">
        <h2 style="color: #d0d0d0; text-align: center">{{ title }}</h2>

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/kap/maintenance">Maintenance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/kap/status">Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kap/log">Log</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kap/statistics">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/kap/ticks">Ticks</a>
            </li>
        </ul>


        <div id="main">
            {% block main %} {% endblock %}
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript">
  jQuery(document).ready(function() {
    $('[data-toggle="popover"]').popover();  

    $("[id^=tickModalBtn]").click(function(){
	var tickscript =  $(this).data('tick');
	$.ajax({
	url: "/kap/tick-content",
	type: "get",
	data: {tick: tickscript},
	success: function(resp) {
	    $('#tickContentModalTitle').html("Tick script: " + tickscript);
	    $('#tickContentModalBody').html("<pre>" + resp.data + "</pre>");
	}})
    }); 
  });
</script>

</body>

</html>
