<div style="margin-top: 40px; text-align: left">
    <h4>Scheduled:</h4>
<div>
<div>
    <table class="table table-sm table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Tag</th>
                <th>Value</th>
                <th>StartTime</th>
                <th>Duration</th>
                <th>Repeat</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div style="text-align: right">
        <small>All displayed times are local to the server</small>
    <div>
</div>
