{% if schedule | length > 0 %}
{% set weekdays = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"] %}
<div style="margin-top: 40px; text-align: left">
    <h4>Scheduled:</h4>
<div>
<div>
    <table class="table table-sm table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Tag</th>
                <th>Value</th>
                <th>Days</th>
                <th>StartTime</th>
                <th>Duration</th>
                <th>Repeat</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for sched in schedule %}
            <tr>
                <td>{{ sched.key | title }}</td>
                <td>{{ sched.value }}</td>
                <td>
                {% for day in sched.days %}
                    {{ weekdays[day|int] }}
                {% endfor %}
                </td>
                <td>{{ sched.starttime }}</td>
                <td>{{ sched.duration }}</td>
                <td>{{ sched.repeat }}</td>
                <td style="text-align: center">
                    <form action="" method="POST">
                        {{ dsf.csrf_token }}
                        {{ dsf.filename(value=sched.filename) }}
                        {{ dsf.submit(class="btn btn-sm btn-danger") }}
                    </form>
                </td>
                {% endfor %}
        </tbody>
    </table>
    <div style="text-align: right">
        <small>All displayed times are local to the server</small>
    <div>
</div>
{% endif %}
