{% extends "base.html" %} {% block main %}
<div style="margin-top: 50px">

    {% if not stats %}
    <div style="text-align: center" class="alert alert-success" role="alert">
        <h4>No statistics to show</h4>
    </div>
    {% else %}
    <p style="text-align: right">Statistics collected since {{ startup_time | ctime }}</p>
    <table style="font-size: 14px" class="table table-sm table-bordered">
        <thead class="thead-dark">
            <tr class="table-danger">
                <th>Id</th>
                <th>Count</th>
                <th>Average Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for a in stats.values() | sort(reverse=True, attribute='CRITICAL.count') %}
            {% if a.CRITICAL.count != 0 %}
            <tr class="table-danger">
                <td>{{ a.id }}</td>
                <td class="text-right">{{ a.CRITICAL.count }}</td>
                <td class="text-right">{{ a.CRITICAL.duration | timedelta }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            {% for a in stats.values() | sort(reverse=True, attribute='WARNING.count') %}
            {% if a.WARNING.count != 0 %}
            <tr class="table-warning">
                <td>{{ a.id }}</td>
                <td class="text-right">{{ a.WARNING.count }}</td>
                <td class="text-right">{{ a.WARNING.duration | timedelta }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            {% for a in stats.values() | sort(reverse=True, attribute='INFO.count') %}
            {% if a.INFO.count != 0 %}
            <tr class="table-info">
                <td>{{ a.id }}</td>
                <td class="text-right">{{ a.INFO.count }}</td>
                <td class="text-right">{{ a.INFO.duration | timedelta }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
</div>

<script type="text/javascript">
    setInterval(function() {
        if (!document.hidden) {
            window.location.reload();
        }
    }, 30000);
</script>{% endblock %}
