{% extends "base.html" %} {% block main %}
<div style="margin-top: 50px">

  <div style="height: 50px; text-align: center;">
    <div class="h-50 d-inline-block alert-primary" style="width: 130px">MAINTENANCE</div>
    <div class="h-50 d-inline-block alert-info" style="width: 130px">INFO</div>
    <div class="h-50 d-inline-block alert-warning" style="width: 130px">WARNING</div>
    <div class="h-50 d-inline-block alert-danger" style="width: 130px">CRITICAL</div>
  </div>
    {% if not alerts %}
    <div style="text-align: center" class="alert alert-success" role="alert">
        <h4>All systems ok!</h4>
    </div>
    {% else %}
    <table style="font-size: 14px" class="table table-sm table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Last report</th>
                <th>Id</th>
                {% if group_tag %}
                <th>{{ group_tag | title }}</th>
                {% endif %}
                <th>Duration</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
            {% for a in alerts.values() | sort(reverse=True, attribute='time') %}
            {% if a in maintenance %}
            <tr class="table-primary">
            {% else %}
              {% if a.level == 'CRITICAL' %}
              <tr class="table-danger">
              {% elif a.level == 'WARNING' %}
              <tr class="table-warning">
              {% elif a.level == 'INFO' %}
              <tr class="table-info">
              {% endif %}
            {% endif %}
                <td>{{ a.time }}</td>
                <td>{{ a.id }}</td>
                {% if group_tag %}
                {% for tag in a.tags if tag.key == group_tag %}
                <td>{{ tag.value }}</td>
                {% else %}
                <td>-</td>
                {% endfor %}
                {% endif %}
                <td class="text-right">{{ a.duration | timedelta }}</td>
                <td>{{ a.level }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align: right">
        <small>All displayed times are local to the server</small>
    <div>
    {% endif %}
</div>

<script type="text/javascript">
    setInterval(function() {
        if (!document.hidden) {
            window.location.reload();
        }
    }, 30000);
</script>
{% endblock %}
