{% extends "base.html" %} {% block main %}
<div style="margin-top: 50px">

    {% if not ticks %}
    <div style="text-align: center" class="alert alert-success" role="alert">
        <h4>Nothing to show</h4>
    </div>
    {% else %}

    <table style="font-size: 14px" class="table table-sm table-bordered table-dark">
        <thead class="thead-dark">
            <tr class="table-danger">
                <th>Taskname</th>
                <th>Type</th>
                <th>Status</th>
                <th>Executing</th>
                <th class="text-center">Info</th>
            </tr>
        </thead>
        <tbody>
            {% for t in ticks %}
            <tr>
                <td>{{ t[0] }}</td>
                <td>{{ t[1] }}</td>
                <td>{{ t[2] }}</td>
                <td>{{ t[3] }}</td>
		<td class="text-center">
		  <button id="tickModalBtn" type="button" class="btn btn-sm btn-block"
			  data-toggle="modal" data-target="#tickContentModal" data-tick="{{ t[0] }}">
		    <i class="far fa-file-code"></i>
		  </button>
		</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="tickContentModal" tabindex="-1" role="dialog" aria-labelledby="tickContentModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	    <div class="modal-content">
		<div class="modal-header bg-secondary">
		    <h5 class="modal-title" id="tickContentModalTitle">Tick Script</h5>
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		    </button>
		</div>
		<div id="tickContentModalBody" class="modal-body">
		    
		</div>
	    </div>
	</div>
    </div> <!-- End Modal -->

</div> <!-- End  -->


{% endblock %}
